*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(235, 240, 246);
    color: pink;
}

#cabecalho-principal {
    color: rgb(255, 151, 169);
    background-color: rgb(255, 200, 209);
    display: flex;
    flex-direction: column;
    display: flex;
    font-size: 30px;
}

.menu-links {
    font-size: 20px;
    justify-content: space-between;
    display: flex;
    background-color: rgb(248, 245, 245);
}

#cabecalho-principal a.active {
    text-decoration: none;
    color: rgb(255, 120, 142);
    font-weight: bold;
    padding: 10px;
    background-color: rgb(255, 200, 209);
    border-radius: 5px;
}